:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --border-color: #eeeeee;
  --social-link-color: #afb1b8;
  --label-color: #2f303a;
  --footer-social-link-color: #ffffff1a;
  --header-border-color: #ececec;
  --button-accent-color: #188ce8;
  --accent-color: #2196f3;
  --hero-footer-bg-color: #2f303a;
  --our-team-bg-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  padding: 10px 32px 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

/*.menu-open {
  background-color: transparent;
  color: #000000;
  border: none;
  display: block;
  margin-left: auto;
}

.menu-open__icon {
  width: 24px;
  height: 16px;
}

.mob-menu {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
}

.menu-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #303030;
  border: none;
  display: block;
  margin-left: auto;
}

.mob-menu-list {
  margin-bottom: 64px;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-list {
  display: none;
}

.contacts {
  display: none;
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}*/
/*.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}*/
.mob-menu {
  display: flex;
}

@media screen and (max-width: 767px) {
  .mob-menu {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu.is-hidden {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .mob-menu {
    align-items: center;
    flex-grow: 1;
  }
}

.menu-open {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  fill: black;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open__icon {
  width: 40px;
  height: 40px;
}

.menu-close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .menu-close {
    display: none;
  }
}

.menu-close__icon {
  width: 20px;
  height: 20px;
  fill: black;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-left: 93px;
  }
}

.header-logo__span {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .header-list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header-list__link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header-list__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .header-list__link {
    font-size: 40px;
    line-height: 47px;
    line-height: 1.2;
  }
}

.header-list__link--current {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header-list__link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts-wrapper {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__link--mobile {
    font-size: 34px;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .socials-mobile {
    display: none;
  }
}

/*.contacts {
  display: flex;
  margin-left: auto;
}*/
/*.contacts__item {
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}*/
/*.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
/*font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/*.header {
  &.container {
    display: flex;
    align-items: center;
  }
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 0.03em);
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-list__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(14px, 500);
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-list__link--current {
  color: var(--accent-color);
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(14, 500);
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}*/
.hero {
  max-width: 1600px;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image/hero-background-phone-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image/hero-background-phone-x2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image/hero-background-tab-x1.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image/hero-background-tab-x2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image/hero-background-desktop-x1.jpg");
    height: 600px;
    margin: 0 auto;
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background-image/hero-background-desktop-x2.jpg");
  }
}

.hero__title {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantages__box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: var(--our-team-bg-color);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .advantages__title {
    display: flex;
    justify-content: center;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section__works {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .section__works {
    display: block;
  }
}

.works {
  display: flex;
  margin-top: 50px;
}

.works__item:not(:last-child) {
  margin-right: 30px;
}

.works__box {
  position: relative;
}

.works__text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--tertiary-text-color);
}

.section--background {
  background-color: var(--our-team-bg-color);
}

.our-team__box {
  border-bottom: 1px solid var(--border-color);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--tertiary-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.our-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.our-team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.socials__icon {
  fill: currentColor;
}

.socials__link {
  color: var(--social-link-color);
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--tertiary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

.socials-list {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  color: var(--social-link-color);
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-wrapper {
    flex-grow: 1;
    margin-right: 93px;
    align-items: baseline;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-color: var(--hero-footer-bg-color);
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: flex;
    align-items: baseline;
  }
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.footer-logo__span {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-logo-main {
    margin-right: 70px;
  }
}

.footer-contacts-list {
  display: block;
}

.footer-contacts {
  margin-top: 20px;
  font-style: normal;
}

.footer-contacts__item:not(:first-child) {
  margin-top: 9px;
}

.footer-contacts__link,
.footer-contacts__link-current {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link--current {
  color: var(--tertiary-text-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus,
.footer-contacts__link--current:hover,
.footer-contacts__link--current:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-right {
    margin-top: 60px;
  }
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  color: var(--tertiary-text-color);
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-social-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__text {
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/*.subscribe-form__box {
  margin-top: 60px;
}

.subscribe-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}*/
/*.subscribe-form {
  margin-top: 60px;
}

.subscribe-form__box {
  display: flex;
  align-items: center;
}

.subscribe-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}

.subscribe-form__input {
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  margin-right: 12px;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}
/*.footer {
  max-width: 480px;
  height: 603px;
  padding: 60px 0;
  background-color: var(--hero-footer-bg-color);
}

.footer-right {
  margin-left: 70px;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-logo-main {
  flex-grow: 1;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--tertiary-text-color);
}

.footer-logo__span {
  color: var(--accent-color);
}

.footer-contacts-list {
  display: block;
}

.footer-contacts {
  margin-top: 20px;
  font-style: normal;
}

.footer-contacts__item:not(:first-child) {
  margin-top: 9px;
}

.footer-contacts__link,
.footer-contacts__link-current {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link--current {
  color: var(--tertiary-text-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus,
.footer-contacts__link--current:hover,
.footer-contacts__link--current:focus {
  color: var(--accent-color);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social-list {
  display: flex;
}

.footer-social__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link {
  color: var(--tertiary-text-color);
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-social-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__text {
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}*/
/* subscribe */
/*.subscribe-form {
  margin-left: 93px;
}

.subscribe-form__box {
  display: flex;
  align-items: center;
}

.subscribe-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}

.subscribe-form__input {
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  margin-right: 12px;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}

/*.footer {
  padding: 60px 0;
  background-color: var(--hero-footer-bg-color);
}

.footer-right {
  margin-left: 70px;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-logo-main {
  flex-grow: 1;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 0.03em);
  color: var(--tertiary-text-color);
}

.footer-logo__span {
  color: var(--accent-color);
}

.footer-contacts-list {
  display: block;
}

.footer-contacts {
  margin-top: 20px;
  font-style: normal;
}

.footer-contacts__item {
  &:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-contacts__link,
.current__address {
  margin-top: 10px;
  @include font(14px, 1.71, 0.03em);
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current__address {
  color: var(--tertiary-text-color);
}

.footer-social__icon {
  fill: currentColor;
}

.footer-social-list {
  display: flex;
}

.footer-social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-social__link {
  color: var(--tertiary-text-color);
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--footer-social-link-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.footer-social__text {
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
  text-transform: uppercase;
  @include font(14px, 1.14, 700, 0.03em);
}*/
@media screen and (max-width: 1199px) {
  .subscribe-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__box {
    display: flex;
  }
}

.subscribe-form__title {
  display: block;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  /*@include font(14px, 700, 0.03em);*/
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}

.subscribe-form__input {
  outline: none;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  margin-right: 12px;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form__btn:hover, .subscribe-form__btn:focus {
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

/*.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}*/
.modal {
  padding: 40px;
  background-color: var(--tertiary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: var(--tertiary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal-close__icon {
  fill: var(--accent-color);
}

.modal-form__title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__box {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--main-text-color);
}

.modal-form__span {
  display: block;
  position: relative;
}

.modal-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__commentary {
  margin-bottom: 20px;
}

.modal-form__comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-label__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.check-label__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.icon__check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.modal-form__checkbox:checked + .check-label > .icon__check {
  background-color: var(--accent-color);
  border: transparent;
}

.modal-form__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form__btn {
  display: flex;
  margin: 0 auto;
  padding: 10px 55px;
  margin-top: 30px;
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background-color: var(--button-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filters {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filters__item {
    margin-bottom: 15px;
  }
  .filters__item:not(:last-child) {
    margin-right: 8px;
  }
  .filters__item:nth-child(3) {
    margin-right: 0;
  }
  .filters__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .filters__item:not(:first-child) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .filters__item:not(:first-child) {
    margin-left: 15px;
  }
}

.filters__button {
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--our-team-bg-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:hover, .filters__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__box {
  position: relative;
  overflow: hidden;
}

.projects__title {
  font-size: 18px;
  line-height: 2;
  font-weight: 0.06em;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.projects__text {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 0.03em;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.projects__wrapper {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: var(--tertiary-text-color);
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 0.02em;
  letter-spacing: 0.02em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--tertiary-text-color);
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover .projects__overlay,
.projects__item:focus .projects__overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */