:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --border-color: #eeeeee;
  --social-link-color: #afb1b8;
  --label-color: #2f303a;
  --footer-social-link-color: #ffffff1a;
  --header-border-color: #ececec;
  --button-accent-color: #188ce8;
  --accent-color: #2196f3;
  --hero-footer-bg-color: #2f303a;
  --our-team-bg-color: #f5f4fa;
}
