.advantages__box {
  background-color: var(--our-team-bg-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.advantages__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__title {
  margin-top: 30px;
  text-transform: uppercase;
  @include font(14px, 700 0.02em);
  color: var(--secondary-text-color);
}

.advantages__text {
  margin-top: 10px;
  @include font(14px, 1.71, 0.03em);
  color: var(--main-text-color);
}
