/*.menu-open {
  background-color: transparent;
  color: #000000;
  border: none;
  display: block;
  margin-left: auto;
}

.menu-open__icon {
  width: 24px;
  height: 16px;
}

.mob-menu {
  width: 100vh;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
}

.menu-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: #303030;
  border: none;
  display: block;
  margin-left: auto;
}

.mob-menu-list {
  margin-bottom: 64px;
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-list {
  display: none;
}

.contacts {
  display: none;
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}*/

/*.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}*/

.mob-menu {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
      transform: translateX(100%);
    }
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    flex-grow: 1;
  }
}

.menu-open {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  fill: black;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open__icon {
  width: 40px;
  height: 40px;
}

.menu-close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-close__icon {
  width: 20px;
  height: 20px;
  fill: black;
}

.header__container {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.header-logo__span {
  color: var(--accent-color);
}

.header-navigation {
}

.header-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.header-list__link {
  display: block;
  position: relative;
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 47px;
    line-height: 1.2;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__link--current {
  color: var(--accent-color);
}

.header-list__link--current::after {
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent-color);
}

.contacts-wrapper {
  @media screen and (min-width: 768px) {
    margin-left: auto;
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }
}

.contacts__icon {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.contacts__link--mobile {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    color: var(--accent-color);
  }
}

.socials-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

/*.contacts {
  display: flex;
  margin-left: auto;
}*/

/*.contacts__item {
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}*/

/*.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
/*font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/*.header {
  &.container {
    display: flex;
    align-items: center;
  }
}

.header {
  background-color: var(--tertiary-text-color);
  border-bottom: 1px solid var(--header-border-color);
}

.header-logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  @include font(26px, 700, 0.03em);
  color: var(--secondary-text-color);
}

.header-logo__span {
  color: var(--accent-color);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-list__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(14px, 500);
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-list__link--current {
  color: var(--accent-color);
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(14, 500);
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}*/
