.subscribe-form {
  margin-left: 93px;
}

.subscribe-form-right {
  display: flex;
  align-items: center;
}

.subscribe__title {
  display: block;
  @include font(14px, 700, 0.03em);
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin-bottom: 20px;
}

.subscribe-email__input {
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  margin-right: 12px;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.subscribe__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    background-color: var(--button-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}
